In [3]:
import pandas as pd
import sqlalchemy as sqla

In [4]:

engine = sqla.create_engine("mysql://root:root@127.0.0.1:3310/spotify_db")
conn = engine.connect()

In [7]:

def get_data():
    query = "SELECT * FROM Songs"
    data = pd.read_sql(query, conn)
    return data

def get_data_by_id(id):
    query = f"SELECT * FROM Songs WHERE song_id = {id}"
    data = pd.read_sql(query, conn)
    return data

get_data_by_id(1)

,song_id,track_name,artist_id,released_year,released_month,released_day,streams,bpm,key,mode
0,1,Seven (feat. Latto) (Explicit Ver.),1,2023,7,14,141381703,125,B,Major

In [10]:
# dimensions = ["Track", "Artist", "Release Date", "Playlist"]
# metrics = ["Streams", "In Spotify Playlists", "In Spotify Charts", "In Apple Playlists", "In Apple Charts", "In Deezer Playlists", "In Deezer Charts", "In Shazam Charts"]

# The dataset is a table with the following columns:

create_dimensions_table = """
CREATE TABLE IF NOT EXISTS dimensions_table (
    Track TEXT,
    Artist TEXT,
    Release_Date TEXT,
    Playlist TEXT);
"""

    
create_facts_table = """
CREATE TABLE IF NOT EXISTS facts_table (
    Streams INTEGER,
    In_Spotify_Playlists INTEGER,
    In_Spotify_Charts INTEGER,
    In_Apple_Playlists INTEGER,
    In_Apple_Charts INTEGER,
    In_Deezer_Playlists INTEGER,
    In_Deezer_Charts INTEGER,
    In_Shazam_Charts INTEGER);
"""

In [ ]:
# Execute the queries

# Execute the create table queries
try:
    conn.execute(sqla.text(create_dimensions_table))
    print("Table 'Dimensions' created successfully.")
    
    conn.execute(sqla.text(create_facts_table))
    print("Table 'Facts' created successfully.")
    
except Exception as e:
    print(f"An error occurred while creating tables: {e}")