In [33]:
import pandas as pd
import sqlalchemy as sqla

In [34]:

engine = sqla.create_engine("mysql://root:root@127.0.0.1:3310/spotify_db")
conn = engine.connect()

In [35]:

def get_songs_data():
    query = "SELECT * FROM spotify_songs"
    data = pd.read_sql(query, conn)
    return data

def get_data_by_id(id):
    query = f"SELECT * FROM Songs WHERE song_id = {id}"
    data = pd.read_sql(query, conn)
    return data

get_data_by_id(1)

,song_id,track_name,artist_id,released_year,released_month,released_day,streams,bpm,key,mode
0,1,Seven (feat. Latto) (Explicit Ver.),1,2023,7,14,141381703,125,B,Major

In [36]:
# dimensions = ["Track", "Artist", "Release Date", "Playlist"]
# metrics = ["Streams", "In Spotify Playlists", "In Spotify Charts", "In Apple Playlists", "In Apple Charts", "In Deezer Playlists", "In Deezer Charts", "In Shazam Charts"]

# The dataset is a table with the following columns:

create_dimensions_table = """
CREATE TABLE IF NOT EXISTS Dimensions_table (
    ID INTEGER PRIMARY KEY,
    Track TEXT,
    Artist TEXT,
    Release_Date Date,
    Playlist TEXT);
"""

    
create_streaming_facts_table = """
CREATE TABLE IF NOT EXISTS Streaming_facts_table (
    ID INTEGER PRIMARY KEY,
    Streams INTEGER,
    In_Spotify_Playlists INTEGER,
    In_Spotify_Charts INTEGER,
    In_Apple_Playlists INTEGER,
    In_Apple_Charts INTEGER,
    In_Deezer_Playlists INTEGER,
    In_Deezer_Charts INTEGER,
    In_Shazam_Charts INTEGER
    );
"""

create_song_facts_table = """
CREATE TABLE IF NOT EXISTS Song_facts_table (
    ID INTEGER PRIMARY KEY,
    Play_Count INTEGER,
    Last_Played_Date TEXT,
    First_Played_Date TEXT,
    Last_Release TEXT
    );
"""

In [37]:

# Execute the create table queries
try:
    conn.execute(sqla.text(create_dimensions_table))
    print("Table 'Dimensions' created successfully.")
    
    conn.execute(sqla.text(create_streaming_facts_table))
    print("Table 'Streaming Facts' created successfully.")

    conn.execute(sqla.text(create_song_facts_table))
    print("Table 'Song Facts' created successfully.")
    
except Exception as e:
    print(f"An error occurred while creating tables: {e}")

Table 'Dimensions' created successfully.
Table 'Streaming Facts' created successfully.
Table 'Song Facts' created successfully.

In [45]:
# Start populating the tables
songs_data = get_songs_data()

# Tables columns are on lowercase and with _ instead of spaces

# dimensions_data must be the table created called dimensions_table
dimensions_data = pd.DataFrame(columns=["ID", "Track", "Artist", "Release_Date", "Playlist"])

date_df = songs_data[['released_year', 'released_month', 'released_day']].rename(columns={'released_year': 'year', 'released_month': 'month', 'released_day': 'day'})
dimensions_data['Release_Date'] = pd.to_datetime(date_df)
dimensions_data["track"] = songs_data["track_name"]
dimensions_data["artist"] = songs_data["artist"]
dimensions_data["playlist"] = songs_data["playlist"]

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [ ]:
date_df = songs_data[['released_year', 'released_month', 'released_day']].rename(columns={'released_year': 'year', 'released_month': 'month', 'released_day': 'day'})
dimensions_data['Release_Date'] = pd.to_datetime(date_df)